@tailwind base;
@tailwind components;
@tailwind utilities;

input,
select,
.tiptap.ProseMirror {
  padding-left: 8px;
  font-size: 18px;
}

input,
select {
  height: 42px;
}

.tiptap.ProseMirror {
  outline: none;
  padding: 0.2em 1.2em;
  background-color: white;
  height: 300px;
  border-radius: 6px;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}

.is-active {
  background-color: #dadada;
  border-radius: 2px;
}
